<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.kjds.mapper.ProductMapper">


  <insert id="addProduct" parameterType="com.neuedu.kjds.pojo.Product">
        INSERT INTO pro_product (PRO_ID, SKU_CD, BRD_ID, MAN_ID, TITLE, UPC, EAN, MODEL, WARRANTY_DAY, RETAIL_PRICE, CREATED_BY, CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT, REMARK, STS_CD, MININUM_RETAIL_PRICE, REPLENISHMENT_PERIOD, KEY_WORDS, WARRANTY, TIME_UNIT, STOCKSETING)
        VALUES (#{proId}, #{skuCd}, #{brdId}, #{manId}, #{title}, #{upc}, #{ean}, #{model}, #{warrantyDay}, #{retailPrice}, #{createdBy}, #{creationDate}, #{lastUpdateBy}, #{lastUpdateDate}, #{callCnt}, #{remark}, #{stsCd}, #{minimumRetailPrice}, #{replenishmentPeriod}, #{keyWords}, #{warranty}, #{timeUnit}, #{stockSetting})
   </insert>

  <update id="updateProduct">
        UPDATE pro_product (SKU_CD, BRD_ID, MAN_ID, TITLE, UPC, EAN, MODEL, WARRANTY_DAY, RETAIL_PRICE, CREATED_BY, CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT, REMARK, STS_CD, MININUM_RETAIL_PRICE, REPLENISHMENT_PERIOD, KEY_WORDS, WARRANTY, TIME_UNIT, STOCKSETING)
        VALUES (#{skuCd}, #{brdId}, #{manId}, #{title}, #{upc}, #{ean}, #{model}, #{warrantyDay}, #{retailPrice}, #{createdBy}, #{creationDate}, #{lastUpdateBy}, #{lastUpdateDate}, #{callCnt}, #{remark}, #{stsCd}, #{minimumRetailPrice}, #{replenishmentPeriod}, #{keyWords}, #{warranty}, #{timeUnit}, #{stockSetting})
        WHERE PRO_ID = #{proId}
  </update>

  <delete id="deleteProduct">
        DELETE FROM pro_product WHERE PRO_ID = #{id}
  </delete>

  <select id="getProductById" resultType="com.neuedu.kjds.pojo.Product">
        SELECT * FROM pro_product WHERE PRO_ID = #{id}
  </select>
</mapper>